.container {
	@include flex;
}

.sidebar {
	padding: 0px;
	margin: 0px;
	@include mq-small {
		padding: 3px;
	}
	@include mq-medium {
		padding: 10px;
	}
	@include mq-medium-up {
		margin: 10px 0;
	}
	@include mq-large-up {
		padding: 15px;
	} 
}