a {
	color: $primary-dark;
	&:hover {
		color: $primary-light;
	}
}

%btn {
    display: inline-block;
    padding: 1em;
    border-radius: 3px;
}
.btn-order {
    @extend %btn;
    background-color: green;
    color: white;
}
.btn-delete {
    @extend %btn;
    background-color: red;
    color: white;
}
.btn-cancel {
    @extend %btn;
    background-color: #888;
    color: black;
}
