.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    li {
        width: 30%;
        background-color: #FFEED5;
        padding: 5px;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
}
